* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 2rem;
	min-height: 200vh;
}

.contenedor-externo {
	border: 3px dashed cadetblue;
	width: 75vw;
	height: 80vh;
	margin: 2em auto;
}

.contenedor-interno {
	border: 2px double seagreen;
	width: 40vw;
	height: 50vh;
	margin: 3em auto;
}

.redondo {
	background: red;
	border-radius: 50%;
	width: 5em;
	height: 5em;
}

.absolute {
	display: none;
}

.relative {
	display: none;
}

.fixed {
	display: none;
}

.sticky {
	display: none;
}