@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Playpen Sans', cursive;
	font-size: 1.5rem;
}

main {
	background: teal;
	padding: 1em;
}

p {
	margin-bottom: 4px;
	/* padding top - right - bottom - left */
	/* padding top/bottom right/left */
	padding: 10px 20px;
}

.parrafo1 {
	background: mediumaquamarine;
}

.parrafo2 {
	background: mediumseagreen;
}

p span {
	display: inline;
	background: darkgoldenrod;
	padding: 100px;
}