@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Syne Mono', fantasy;
	font-size: 1.4rem;
}

p {
	margin: 5%;
	text-align: justify;
}

.caja {
	background: teal;
	width: 20vw;
	height: 20vw;
	color: azure;
	margin: 4%;
}

.izquierda {
	float: left;
	margin-right: 2%;
}

.derecha {
	float: right;
}

section {
	background: cornflowerblue;
	display: flow-root;
}