@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Playpen Sans', sans-serif;
}

ul {
	background: hotpink;
	padding: 1em;
	font-size: 1.5rem;
	text-align: right;
}

ul li {
	display: inline-block;
	margin: 0 0.5em;
}

li a {
	text-decoration: none;
	color: azure;
	text-decoration: underline 4px hotpink wavy;
	/* transition propiedad duracion-efecto tipo-efecto */
	transition: all 0.4s ease-in;
}

li a:hover, li a:focus {
	color: lightgreen;
	text-decoration: underline 4px lightgreen wavy;
}

li a:focus-visible {
    outline: none;
}

h1 {
	background: mediumslateblue;
	color: white;
	text-align: center;
	padding: 2em;
	margin: 2em auto;
	width: 80%;
	transition: all 2s cubic-bezier(0, 2.09, 0.81,-2.21);
}

h1:hover {
	width: 50%;
	background: mediumturquoise;
	border-radius: 20px;
}
